
<div class="container mt-5">
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" routerLink="todos">Tareas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" routerLink="comments">Comentarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" routerLink="post">Publicaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" routerLink="users">Usuarios</a>
    </li>
    </ul>
</div>