<div class="container mt-5">
    <h3>Publicaciones</h3>
    <div class="row mt-3">
        <!-- Columna de 4 espacios -->
        <div class="col-md-4" *ngFor="let usuario of usuarios">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Publicación</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>User:</strong> {{ usuario.userId }}</li>
                        <li class="list-group-item"><strong>ID:</strong> {{ usuario.id }}</li>
                        <li class="list-group-item"><strong>Título:</strong> {{ usuario.title }}</li>
                        <li class="list-group-item"><strong>Cuerpo:</strong> {{ usuario.body }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>